services:
  aria2:
    image: p3terx/aria2-pro:test
    container_name: aria2
    environment:
      - PUID=1000
      - PGID=1000
      - RPC_SECRET=${ARIA2_RPC_SECRET}
    volumes:
      - /data/library/:/library
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - OAUTHLIB_RELAX_TOKEN_SCOPE=1
    volumes:
      - /data/docker/volumes/calibre-web-config:/config
      - /data/library:/library
  flaresolver:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=hcaptcha-solver
      - TZ=Europe/Berlin
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    shm_size: 2gb # Prevent memory-related transcoding crashes, especially for 4K HDR
    security_opt:
      - seccomp:unconfined # Allows DRM render node access (vainfo was blocked)
    cap_add:
      - SYS_ADMIN # Grants VA-API device permissions without full root
    devices:
      - /dev/dri:/dev/dri   # Passes iGPU hardware to container
    # group_add is not necessary because lscr handles it in it's init
    # group_add: ["992", "44"] # 992 -> render group, 44 -> video group
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - DOCKER_MODS=linuxserver/mods:jellyfin-opencl-intel
    volumes:
      - /data/docker/volumes/jellyfin-config:/config
      - /data/docker/volumes/jellyfin-modcache:/modcache
      - /data/library:/library
    # So clients on the local network can discover the server
    ports:
      - 8096:8096
      - 8920:8920
      - 7359:7359/udp
      - 1900:1900/udp
  lazylibrarian:
    image: lscr.io/linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - DOCKER_MODS=linuxserver/mods:universal-calibre|linuxserver/mods:lazylibrarian-ffmpeg
    volumes:
      - /data/docker/volumes/lazylibrarian-config:/config
      - /data/docker/volumes/lazylibrarian-modcache:/modcache
      - /data/library:/library
  lidarr:
    image: linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /data/docker/volumes/lidarr-config:/config
      - /data/library:/library
  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /data/docker/volumes/nzbget-config:/config
      - /data/library:/library
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /data/docker/volumes/prowlarr-config:/config
      - /data/library:/library
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /data/docker/volumes/radarr-config:/config
      - /data/library:/library
  rdtclient:
    image: rogerfar/rdtclient
    container_name: rdtclient
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /data/docker/volumes/rdtclient-data:/data
      - /data/library/:/library
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:latest
    container_name: recyclarr
    # Enable prometheus so we can do healthchecks
    entrypoint: /bin/sh
    command: 
      - -c
      - |
        cp /entrypoint.sh /tmp/entrypoint.sh && \
        sed -i 's|supercronic|supercronic -prometheus-listen-address=":8080"|' /tmp/entrypoint.sh && \
        chmod +x /tmp/entrypoint.sh && \
        /tmp/entrypoint.sh
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /data/docker/volumes/recyclarr-config:/config
      - ./recyclarr/recyclarr.yml:/config/recyclarr.yml:ro
      - ./recyclarr/secrets.yml:/config/secrets.yml:ro
      - /data/library:/library
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /data/docker/volumes/sonarr-config:/config
      - /data/library:/library
