services:
  caddy:
    build: 
      context: caddy
      dockerfile: Dockerfile
    container_name: caddy
    extra_hosts:
      host.docker.internal: host-gateway
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - CROWDSEC_API_KEY=${CROWDSEC_API_KEY}
    # sysctls: # Done on the host machine directly
    #   net.core.rmem_max: 7500000
    #   net.core.wmem_max: 7500000
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:rw
      - ./caddy/redirect.html:/usr/share/caddy/redirect.html:ro
      - /data/docker/volumes/caddy-data:/data:rw
      - /data/docker/volumes/caddy-config:/config:rw
    # healthcheck:
    #   test: ["CMD-SHELL", 'wget --quiet --tries=1 --spider http://localhost/healthcheck || exit 1']
    #   interval: 1m
    #   timeout: 30s
    #   retries: 5
    #   start_period: 10s
    #   start_interval: 3s  

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command:
      - tunnel
      - --no-autoupdate
      - --config
      - /etc/cloudflared/config/config.yaml
      - --credentials-file
      - /etc/cloudflared/credentials/credentials.json
      - run
    environment:
      - TUNNEL_METRICS=0.0.0.0:60123
    volumes:
      - ./cloudflared/config.yaml:/etc/cloudflared/config/config.yaml:ro
      - ./cloudflared/credentials.json:/etc/cloudflared/credentials/credentials.json:ro
  
  crowdsec:
    build:
      context: crowdsec
      dockerfile: Dockerfile
    container_name: crowdsec
    environment:
      - GID=1000
      - UID=1000
      - COLLECTIONS=crowdsecurity/caddy crowdsecurity/http-cve crowdsecurity/whitelist-good-actors Dominic-Wagner/vaultwarden LePresidente/authelia
      - ENROLL_INSTANCE_NAME=homelab
      - ENROLL_KEY=${CROWDSEC_ENROLL_KEY}
    volumes:
      - /data/docker/volumes/crowdsec-data:/var/lib/crowdsec/data
      - /data/docker/volumes/crowdsec-config:/etc/crowdsec
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      - /data/docker/volumes/caddy-data:/var/log/caddy:ro
      - /data/docker/volumes/vaultwarden-log:/var/log/vaultwarden:ro
      - /data/docker/volumes/authelia-log:/var/log/authelia:ro
    # restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    # healthcheck:
    #   test: ["CMD-SHELL", 'wget --quiet --tries=1 --spider http://localhost:8080/health || exit 1']
    #   interval: 1m30s
    #   timeout: 30s
    #   retries: 3
    #   start_period: 10s
    #   start_interval: 3s
