services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama # No need to put it in the data directory
    # environment:
    # - OLLAMA_KEEP_ALIVE=24h # Keep models in memory

volumes:
  ollama-data:
