services:
  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    container_name: chrome
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars

  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    ports:
      - "7700:7700"
    volumes:
      - /data/docker/volumes/meilisearch-data:/meili_data

  karakeep:
    image: ghcr.io/karakeep-app/karakeep:release
    container_name: karakeep
    environment:
      - MEILI_ADDR=http://meilisearch:7700
      - BROWSER_WEB_URL=http://chrome:9222
      - DATA_DIR=/data
      - KARAKEEP_VERSION=release
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
      - DISABLE_SIGNUPS=true
      - OPENAI_BASE_URL=${KARAKEEP_OPENAI_BASE_URL}
      - OPENAI_API_KEY=${KARAKEEP_OPENAI_API_KEY}
      - INFERENCE_TEXT_MODEL=${KARAKEEP_INFERENCE_TEXT_MODEL}
      - INFERENCE_IMAGE_MODEL=${KARAKEEP_INFERENCE_IMAGE_MODEL}
      - NEXTAUTH_URL=https://kk.korel.be.eu.org
      - NEXTAUTH_SECRET=${KARAKEEP_NEXTAUTH_SECRET}
      - OAUTH_PROVIDER_NAME=Authelia
      - OAUTH_WELLKNOWN_URL=https://auth.korel.be.eu.org/.well-known/openid-configuration
      - OAUTH_CLIENT_ID=${KARAKEEP_OAUTH_CLIENT_ID}
      - OAUTH_CLIENT_SECRET=${KARAKEEP_OAUTH_CLIENT_SECRET}
    volumes:
      - /data/docker/volumes/karakeep-data:/data
